.content1{
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}
.header{
    font-size: 20px;
    text-align: start;
}
.long-text{
    max-height: 0;
    overflow: hidden;
    display: inline-block;
    transition: max-height 1s;
    font-family: 'Poppins', sans-serif;
}
.expand1{
max-height: 50rem;
}